.aboutPage {
	display: flex;
	flex-direction: row;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  overflow: hidden;
  background-color: #FFFFFF;
  flex-wrap: nowrap;
}

.aboutPage::after {
  content: "";
  display: table;
  clear: both;
}

.gamePanel {
  width: auto;
  border-left: 8px solid #0D4072;
  background-color: #FFFFFF;
  position: relative;
  top: 0;
  right: 0;
  height: 100vh;
  /* min-height: fit-content; */
  text-align: center;
  /* display: inline-table; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.waldoImg {
  height: auto; /* Set the desired width */
	max-width: 80%; /* Ensure it doesn't exceed the container */
	max-height: 100vh;
	object-fit: contain; /* Ensures the image doesn't stretch or get cut off */

  /* object-fit: cover; */
  /* align-self: stretch; */
}

.aboutPage h1 {
  color: #D11635;
  margin: 11px;
  font-size: xx-large;
}

.timer {
  width: 150px;
  height: 150px;
  border: 6px solid #000000;
  border-radius: 50%;
  margin: auto;
}

.time {
  color: #0D4072 !important;
  font-weight: bold;
  font-size: 23px;
}

.timer p {
  color: #000000;
  margin: 0;
  top: 40px;
  position: relative;
}

.gamePanel p {
  color: #000000;
}

.margin {
  margin: 11px;
}

.gamePanel p span {
  font-weight: bold;
}

.redStripe {
  max-width: 309px;
  width: auto;
  margin: 11px 0px;
  background-color: #D11635;
}

.gamePanel h2 {
  color: #0D4072;
  margin: 11px;
}

.gamePanel h3 {
  color: #000000;
  font-size: x-large;
  margin: 11px;
}

.yourPickedWaldo {
  border-radius: 19px;
  width: 88%;
  height: 207px;
  border: 6px solid #0D4072;
  object-fit: cover;
}

.gamePanel a {
  color: #000000;
  background-color: #ffffff;
  border: 5px solid #D11635;
  border-radius: 100px;
  margin: 3%;
  padding: 12px 50px;
  position: relative;
  /* top: 50px; */
  display: inline-block;

}

.gamePanel a:hover {
  border: 5px solid #0D4072;
}

.gamePanel a:active {
  border: 5px solid #D11635;
}
