.aboutPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #FFFFFF;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.waldoImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.waldoImg {
  width: 100%;
  max-height: 100vh;
  height: auto;
}

.gamePanel {
  width: max(20%, 250px);
  border-left: 8px solid #0D4072;
  background-color: #FFFFFF;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  /* overflow: auto; */
}

.hintsSection ul, .hintsSection li {
  color: #000000;
  margin: 0 auto;
}

.hintsSection ul {
  text-align: center;
  width: 80%;
}

.hintsSection li {
  text-align: left;
}

.gamePanel h1 {
  color: #D11635;
  font-size: xx-large;
  margin: 11px;
}

.timer {
  width: 150px;
  height: 150px;
  border: 6px solid #000000;
  border-radius: 50%;
  margin: auto;
}

.timer p {
  color: #000000;
  margin: 0;
  position: relative;
  top: 40px;
}

.time {
  color: #0D4072 !important;
  font-weight: bold;
  font-size: 23px;
}

.gamePanel p {
  color: #000000;
}

.margin {
  margin: 11px;
}

.gamePanel p span {
  font-weight: bold;
}

.stripeSeperator {
	margin-top: 15px;
	margin-bottom: 10px;
}

.redStripe {
  width: auto;
  max-width: 309px;
  margin: 5px 0;
  background-color: #D11635;
  height: 4px; /* Added height for stripe visibility */
}

.gamePanel h2 {
  color: #0D4072;
  margin: 11px;
}

.gamePanel h3 {
  color: #000000;
  font-size: x-large;
  margin: 11px;
}

.waldoimg {
  width: 100%;
  max-width: 350px; /* Optional: make the image responsive */
  height: auto;
  margin: 10px auto;
  border-radius: 19px;
  border: 6px solid #0D4072;
  object-fit: cover;
}

.gamePanel a {
  color: #000000;
  background-color: #ffffff;
  border: 5px solid #D11635;
  border-radius: 100px;
  padding: 12px 50px;
  margin: 3%;
  display: inline-block;
  text-decoration: none; /* Prevents text underline */
  position: relative;
}

.gamePanel a:hover {
  border: 5px solid #0D4072;
}

.gamePanel a:active {
  border: 5px solid #D11635;
}


section.hintsSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
}

section.hintsSection p.redHotHint {
	color: red;
	font-weight: bold;
}

section.hintsSection p.warmerHint {
	color: orange;
	font-weight: bold;
}

section.hintsSection p.coldHint {
	color: blue;
	font-weight: bold;
}